.navegacao {
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    border-radius: 60px;
    margin: 0px;
    width: 600px;
    height: 44px;
    margin: 0 auto;
    padding-right: 160px;
}

@media (max-width: 774px) {
    .navegacao {
        height: 72px;
    }
}