*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #fed095;
}

:root{
  --escuro: #a82620;
  --medio: #f30414;
  --claro: #941d18;
  --cor-fonte-principal: #941d18;
  --cor-fonte-post: #f9e6e3;
  --branco: #ffffff;

  --fonte-nav: #fed095;
  --fonte: #955b0f;
  --fonte-principal: "Raleway", sans-serif;
  --fonte-secundaria: "Playfair Display", serif;

  --fonte-family: var(--fonte-principal);
}

#root{
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

a, button, input, textarea{
  font: inherit;
  color: inherit;
}

button{
  background-color: transparent;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

h1,h2,h3{
  font-weight: 700;
  line-height: 5rem;
}
